html(lang='sr')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Confirm email
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    style(type='text/css' nonce='').
      * {
      font-family: "Roboto", arial, sans-serif;
      }
      body,
      td {
      font-size: 13px;
      }
      a:link,
      a:active {
      color: #1155cc;
      text-decoration: none;
      }
      pre {
      white-space: pre;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 800px;
      overflow: auto;
      }
  body
    .bodycontainer
      .maincontent
        table.message(width='100%' cellpadding='0' cellspacing='0' border='0')
          tbody
            tr
              td(colspan='2')
                table(width='100%' cellpadding='12' cellspacing='0' border='0')
                  tbody
                    tr
                      td
                        div(style='overflow: hidden')
                          div
                            .gmail_quote
                              div(bgcolor='#FFFFFF' style='\
                              font-size: 15px;\
                              word-break: break-word;\
                              margin: 0px !important;\
                              padding: 0px !important;\
                              color: rgb(35, 73, 109);\
                              ')
                                div(style='background-color: rgb(255, 255, 255)' bgcolor='#ffffff')
                                  table(role='presentation' cellpadding='0' cellspacing='0' style='\
                                  border-collapse: collapse;\
                                  margin: 0px;\
                                  padding: 0px;\
                                  font-family: Roboto, sans-serif;\
                                  border-spacing: 0px !important;\
                                  width: 100% !important;\
                                  min-width: 320px !important;\
                                  height: 100% !important;\
                                  ' width='100%' height='100%')
                                    tbody(style='font-family: Roboto, sans-serif')
                                      tr(style='font-family: Roboto, sans-serif')
                                        td(valign='top' style='\
                                        border-collapse: collapse;\
                                        font-family: Roboto, sans-serif;\
                                        font-size: 15px;\
                                        word-break: break-word;\
                                        color: rgb(35, 73, 109);\
                                        ')
                                          #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_main(style='\
                                          font-size: inherit;\
                                          line-height: inherit;\
                                          font-family: Roboto, sans-serif;\
                                          color: inherit;\
                                          ')
                                            #m_3815107592207068872m_1240934533527406864section_1653126128462(style='\
                                            padding-left: 10px;\
                                            padding-right: 10px;\
                                            padding-top: 20px;\
                                            font-family: Roboto, sans-serif;\
                                            ')
                                              div(style='\
                                              min-width: 280px;\
                                              max-width: 600px;\
                                              width: 100%;\
                                              margin-left: auto;\
                                              margin-right: auto;\
                                              border-collapse: collapse;\
                                              border-spacing: 0px;\
                                              font-family: Roboto,\
                                              sans-serif;\
                                              background-color: rgba(\
                                              160,\
                                              135,\
                                              68,\
                                              0.1\
                                              ); ;\
                                              ' bgcolor='rgba(160, 135, 68, 0.1);')
                                                #m_3815107592207068872m_1240934533527406864column_1653126128462_0(style='\
                                                font-family: Roboto,\
                                                sans-serif;\
                                                ')
                                                  table(role='presentation' cellpadding='0' cellspacing='0' width='100%' style='\
                                                  border-collapse: collapse;\
                                                  font-family: Roboto,\
                                                  sans-serif;\
                                                  border-spacing: 0px !important;\
                                                  ')
                                                    tbody(style='\
                                                    font-family: Roboto,\
                                                    sans-serif;\
                                                    ')
                                                      tr(style='\
                                                      font-family: Roboto,\
                                                      sans-serif;\
                                                      ')
                                                        td(style='\
                                                        border-collapse: collapse;\
                                                        font-family: Roboto,\
                                                        sans-serif;\
                                                        font-size: 18px;\
                                                        line-height: 24px;\
                                                        font-weight: 300;\
                                                        word-break: break-word;\
                                                        padding: 50px 20px\
                                                        10px;\
                                                        color: #483a14;\
                                                        ')
                                                          #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module_16531261284323(style='\
                                                          font-size: inherit;\
                                                          line-height: inherit;\
                                                          font-family: Roboto,\
                                                          sans-serif;\
                                                          color: inherit;\
                                                          ')
                                                            #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module_16531261284323_(style='\
                                                            font-size: inherit;\
                                                            line-height: inherit;\
                                                            font-family: Roboto,\
                                                            sans-serif;\
                                                            color: inherit;\
                                                            ')
                                                              h1(style='\
                                                              margin: 0px;\
                                                              line-height: 175%;\
                                                              font-size: 28px;\
                                                              text-align: center;\
                                                              font-family: Roboto,\
                                                              sans-serif;\
                                                              ' align='center')
                                                                span(style='\
                                                                font-family: Roboto,\
                                                                sans-serif;\
                                                                color: rgb(\
                                                                72,\
                                                                58,\
                                                                20\
                                                                );\
                                                                ') #{welcome_label}
                                            #m_3815107592207068872m_1240934533527406864section-1(style='\
                                            padding-left: 10px;\
                                            padding-right: 10px;\
                                            font-family: Roboto, sans-serif;\
                                            ')
                                              div(style='\
                                              min-width: 280px;\
                                              max-width: 600px;\
                                              width: 100%;\
                                              margin-left: auto;\
                                              margin-right: auto;\
                                              border-collapse: collapse;\
                                              border-spacing: 0px;\
                                              padding-bottom: 30px;\
                                              padding-top: 10px;\
                                              font-family: Roboto,\
                                              sans-serif;\
                                              background-color: rgba(\
                                              160,\
                                              135,\
                                              68,\
                                              0.1\
                                              ); ;\
                                              ' bgcolor='rgba(160, 135, 68, 0.1);')
                                                #m_3815107592207068872m_1240934533527406864column-1-0(style='\
                                                font-family: Roboto,\
                                                sans-serif;\
                                                ')
                                                  #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module_16531261014541(style='\
                                                  font-size: inherit;\
                                                  line-height: inherit;\
                                                  font-family: Roboto,\
                                                  sans-serif;\
                                                  color: inherit;\
                                                  ')
                                                    table(role='presentation' width='100%' cellpadding='0' cellspacing='0' style='\
                                                    border-collapse: collapse;\
                                                    font-family: Roboto,\
                                                    sans-serif;\
                                                    border-spacing: 0px !important;\
                                                    ')
                                                      tbody(style='\
                                                      font-family: Roboto,\
                                                      sans-serif;\
                                                      ')
                                                        tr(style='\
                                                        font-family: Roboto,\
                                                        sans-serif;\
                                                        ')
                                                          td(align='center' valign='top' style='\
                                                          border-collapse: collapse;\
                                                          font-family: Roboto,\
                                                          sans-serif;\
                                                          word-break: break-word;\
                                                          text-align: center;\
                                                          padding: 0px 20px\
                                                          10px;\
                                                          font-size: 0px;\
                                                          color: #483a14;\
                                                          font-weight: 300;\
                                                          font-size: 18px;\
                                                          line-height: 24px;\
                                                          ')
                                                            img(alt='fa-regular_handshake' src='https://ci6.googleusercontent.com/proxy/mdQooMCk0DwAJmpdwPQn7G8JHRS0zGPcZs0SUb0_AIQ-6prfvp1IvzkAfR9IRxIt-CkPmWJ0ZOj9r45IJ7D14y9XIpVChcE5SHeWY9w21CJrfftvgkcMNGUwEAGmU3C74oLNKnn04mFdl9tO5NkL9BW7fCw1NIb1_xhOeIntSd-FUVjiemxmQIGpfLvoYc5ud4T3pqlfztzfrpE=s0-d-e1-ft#https://hs-6534445.f.hubspotstarter.net/hub/6534445/hubfs/fa-regular_handshake.png?width=132&upscale=true&name=fa-regular_handshake.png' style='\
                                                            outline: none;\
                                                            text-decoration: none;\
                                                            max-width: 100%;\
                                                            font-size: 16px;\
                                                            font-family: Roboto,\
                                                            sans-serif;\
                                                            ' width='66' align='middle')
                                                  table(role='presentation' cellpadding='0' cellspacing='0' width='100%' style='\
                                                  border-collapse: collapse;\
                                                  font-family: Roboto,\
                                                  sans-serif;\
                                                  border-spacing: 0px !important;\
                                                  ')
                                                    tbody(style='\
                                                    font-family: Roboto,\
                                                    sans-serif;\
                                                    ')
                                                      tr(style='\
                                                      font-family: Roboto,\
                                                      sans-serif;\
                                                      ')
                                                        td(style='\
                                                        border-collapse: collapse;\
                                                        font-family: Roboto,\
                                                        sans-serif;\
                                                        font-size: 15px;\
                                                        word-break: break-word;\
                                                        padding: 10px 40px;\
                                                        color: rgb(\
                                                        35,\
                                                        73,\
                                                        109\
                                                        );\
                                                        ')
                                                          #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module-1-0-0(style='\
                                                          font-size: inherit;\
                                                          line-height: inherit;\
                                                          font-family: Roboto,\
                                                          sans-serif;\
                                                          color: inherit;\
                                                          ')
                                                            #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module-1-0-0_(style='\
                                                            font-size: inherit;\
                                                            line-height: inherit;\
                                                            font-family: Roboto,\
                                                            sans-serif;\
                                                            color: inherit;\
                                                            ')
                                                              h2(style='\
                                                              margin: 0px;\
                                                              line-height: 175%;\
                                                              font-size: 22px;\
                                                              text-align: center;\
                                                              font-family: Roboto,\
                                                              sans-serif;\
                                                              font-weight: 400;\
                                                              ' align='center')
                                                                span(style='\
                                                                font-family: Roboto,\
                                                                sans-serif;\
                                                                color: rgb(\
                                                                72,\
                                                                58,\
                                                                20\
                                                                );\
                                                                ') #{organisation_name}
                                                              p(style='\
                                                              line-height: 175%;\
                                                              text-align: center;\
                                                              font-family: Roboto,\
                                                              sans-serif;\
                                                              color: #483a14;\
                                                              font-size: 16px;\
                                                              line-height: 26px;\
                                                              font-weight: 300;\
                                                              ' align='center') #{description_label}
                                                  table(role='presentation' cellpadding='0' cellspacing='0' width='100%' style='\
                                                  border-collapse: collapse;\
                                                  font-family: Roboto,\
                                                  sans-serif;\
                                                  border-spacing: 0px !important;\
                                                  ')
                                                    tbody(style='\
                                                    font-family: Roboto,\
                                                    sans-serif;\
                                                    ')
                                                      tr(style='\
                                                      font-family: Roboto,\
                                                      sans-serif;\
                                                      ')
                                                        td(style='\
                                                        border-collapse: collapse;\
                                                        font-family: Roboto,\
                                                        sans-serif;\
                                                        font-size: 15px;\
                                                        word-break: break-word;\
                                                        padding: 10px 20px\
                                                        40px;\
                                                        color: rgb(\
                                                        35,\
                                                        73,\
                                                        109\
                                                        );\
                                                        ')
                                                          #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module-1-0-1(style='\
                                                          font-size: inherit;\
                                                          line-height: inherit;\
                                                          font-family: Roboto,\
                                                          sans-serif;\
                                                          color: inherit;\
                                                          ')
                                                            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                                            font-family: Roboto,\
                                                            sans-serif;\
                                                            border-spacing: 0px !important;\
                                                            border-collapse: separate !important;\
                                                            ')
                                                              tbody(style='\
                                                              font-family: Roboto,\
                                                              sans-serif;\
                                                              ')
                                                                tr(style='\
                                                                font-family: Roboto,\
                                                                sans-serif;\
                                                                ')
                                                                  td(align='center' valign='middle' bgcolor='#483A14' role='presentation' style='\
                                                                  border-collapse: collapse;\
                                                                  font-family: Roboto,\
                                                                  sans-serif;\
                                                                  font-size: 15px;\
                                                                  word-break: break-word;\
                                                                  border-radius: 4px;\
                                                                  background-color: rgb(\
                                                                  72,\
                                                                  58,\
                                                                  20\
                                                                  );\
                                                                  ')
                                                                    a(href='https://destilery-fe.vercel.app/register/#{user_id}' style='\
                                                                    font-size: 15px;\
                                                                    font-family: Roboto,\
                                                                    sans-serif;\
                                                                    margin: 0px;\
                                                                    text-transform: none;\
                                                                    text-decoration: none;\
                                                                    padding: 12px\
                                                                    26px;\
                                                                    display: block;\
                                                                    ')
                                                                      strong(style='\
                                                                      font-weight: normal;\
                                                                      text-decoration: none;\
                                                                      font-style: normal;\
                                                                      font-family: Roboto,\
                                                                      sans-serif;\
                                                                      color: rgb(\
                                                                      255,\
                                                                      255,\
                                                                      255\
                                                                      );\
                                                                      ') #{confirm_account_label}
                                            #m_3815107592207068872m_1240934533527406864section_1653126231524(style='\
                                            padding-left: 10px;\
                                            padding-right: 10px;\
                                            font-family: Roboto, sans-serif;\
                                            ')
                                              div(style='\
                                              min-width: 280px;\
                                              max-width: 600px;\
                                              width: 100%;\
                                              margin-left: auto;\
                                              margin-right: auto;\
                                              border-collapse: collapse;\
                                              border-spacing: 0px;\
                                              font-family: Roboto,\
                                              sans-serif;\
                                              background-color: #a08744;\
                                              color: #fff;\
                                              ' bgcolor='#A08744')
                                                #m_3815107592207068872m_1240934533527406864column_1653126231524_0(style='\
                                                font-family: Roboto,\
                                                sans-serif;\
                                                margin-top: 40px;\
                                                ')
                                                  table(role='presentation' cellpadding='0' cellspacing='0' width='100%' style='\
                                                  border-collapse: collapse;\
                                                  font-family: Roboto,\
                                                  sans-serif;\
                                                  border-spacing: 0px !important;\
                                                  ')
                                                    tbody(style='\
                                                    font-family: Roboto,\
                                                    sans-serif;\
                                                    ')
                                                      tr(style='\
                                                      font-family: Roboto,\
                                                      sans-serif;\
                                                      ')
                                                        td(style='\
                                                        border-collapse: collapse;\
                                                        font-family: Roboto,\
                                                        sans-serif;\
                                                        font-size: 14px;\
                                                        line-height: 24px;\
                                                        word-break: break-word;\
                                                        padding: 20px 35px;\
                                                        color: #fff;\
                                                        font-weight: 400;\
                                                        ')
                                                          #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module_16531262314994(style='\
                                                          font-size: inherit;\
                                                          line-height: inherit;\
                                                          font-family: Roboto,\
                                                          sans-serif;\
                                                          color: inherit;\
                                                          ')
                                                            #m_3815107592207068872m_1240934533527406864hs_cos_wrapper_module_16531262314994_(style='\
                                                            font-size: inherit;\
                                                            line-height: inherit;\
                                                            font-family: Roboto,\
                                                            sans-serif;\
                                                            color: inherit;\
                                                            ')
                                                              p(style='\
                                                              line-height: 175%;\
                                                              text-align: center;\
                                                              font-family: Roboto,\
                                                              sans-serif;\
                                                              ' align='center') #{additional_label}
                                img(src='https://ci4.googleusercontent.com/proxy/0YsQYnhST2CPMQx1czL3rvoHujAxrzXIXa_eHb5iZlBSPmc9ziMnb-Go3kFu5yncTNc9BYLdIzgUVeWzjrmQTXfuvIBzHBYUDe3TQ6HqjwfwJaSxjnJ-0aXuqhXF0cq7vfcn-afHYXS__ygVtDZx_llxphghgfE7jFjJBp2uvELHd2KLsaSh3A=s0-d-e1-ft#https://cNvWf04.na1.hubspotlinksstarter.com/Cto/ZT+113/cNvWf04/MWmWKm6QvB_W4yK_043Rqc0_W1PHNH54KkGQDW6D7jJ08fYB_C2jT1' alt='' width='1' height='1' border='0' style='\
                                font-family: Roboto, sans-serif;\
                                display: none !important;\
                                min-height: 1px !important;\
                                width: 1px !important;\
                                border-width: 0px !important;\
                                margin: 0px !important;\
                                padding: 0px !important;\
                                ')
